:root {
  --main-color: #80d90c;
  --second-color: #82b74b;
}
.sample {
  margin: 0 auto;
  max-width: 1360px;
}

section .homepage {
  max-width: 1360px;
  margin: 0 auto;
}
section .sectionGeneral {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.left-half img {
  width: 80%;
  margin-top: -40px;
}

.right-half h4 {
  color: #80d90c;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Kalam', cursive;
}
.right-half h2 {
  color: #151515;
  font-size: 55px;
  letter-spacing: 3px;
  margin: 10px 0 0;
  text-transform: uppercase;
}
.right-half p {
  color: #777777;
  margin: 20px 0 0;
  max-width: 450px;
  font-size: 15px;
}
section .sectionArticle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/bakery.jpg') no-repeat 50%;
}
.column {
  width: 270px;
  height: 220px;
  padding-left: 28px;
}
.column h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  margin: 25px 0 25px 0;
  align-items: left;
}
.column p {
  color: #fff;
  font-size: 15px;
  margin: 14px;
  align-items: left;
}

.address-section {
  background: #80d90c;
  height: 50vh;
  width: 100%;
  margin-top: 50px;
}
.address-title h1 {
  color: #fff;
  text-align: center;
  font-size: 3.125rem;
  letter-spacing: 5px;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
}
.address-information p {
  text-align: center;
  color: #fff;
  transform: translateY(50px);
  font-size: 1.375rem;
}

/* RESPONSIVE  */
@media (max-width: 991px) {
  .right-half h4 {
    color: #80d90c;
    font-size: 1.375rem;
    margin-bottom: 20px;
  }
  .right-half h2 {
    color: #151515;
    font-size: 45px;
    letter-spacing: 3px;
    margin: 10px 0 0;
    text-transform: uppercase;
  }
  .right-half p {
    color: #777777;
    margin: 20px 0 0;
    max-width: 450px;
    font-size: 15px;
  }
  section .sectionGeneral {
    position: relative;
    display: block;
    justify-content: space-between;
    width: 100%;
  }

  section .sectionArticle {
    max-width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/bakery.jpg') no-repeat 50%;
  }

  .photo-section {
    border-top: 3px solid #82b74b;
    display: block;
    padding: 100px 10px 100px 20px;
    background: rgb(248, 240, 240);
  }
  .img-1 img {
    transform: translateX(0px);
    width: 18.75rem;
    padding-bottom: 50px;
  }
  .img-2 img {
    transform: translateX(0px);
    width: 18.75rem;
  }
  .address-information p {
    font-size: 1rem;
  }

  html {
    font-size: 55%;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 765px) {
  section .sectionGeneral {
    position: relative;
    /* height: 80vh; */
    display: block;
    justify-content: space-between;
    width: 100%;
  }
  section .sectionArticle {
    max-width: 100%;
    min-height: 150vh;
    display: block;
    justify-content: space-between;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/bakery.jpg') no-repeat 50%;
  }
}
@media (max-width: 450px) {
  section .sectionGeneral {
    position: relative;
    display: block;
    justify-content: space-between;
    width: 100%;
  }
  section .sectionArticle {
    max-width: 100%;
    min-height: 150vh;
    display: block;
    justify-content: space-between;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/bakery.jpg') no-repeat 50%;
  }
  html {
    font-size: 50%;
  }
}
