* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
:root {
  --main-color: #80d90c;
  --second-color: #f7a201;
}
/* .container {
  max-width: 1360px;

  position: fixed;
} */
/* .row-topNav {
  background: #f2f2f2;
  width: 100%;
  height: 4vh;
  position: relative;
}
.row-infos {
  position: relative;  
  width: 100%;
}
.row1-infos {
  display: inline-flex;
  padding-left: 50px;
}
.row1-infos h4 a {
  color: black;
}

.topNav {
  height: 70px;
  width: 100%;
  position: relative;
  /* z-index: 18000; */

/*search form */
/* .search {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 200px;
  height: 50px;
  background: var(--main-color);
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
} */
/* .search {
  top: 50%;                   
    left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
    height: 50px;   
}
.row input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 3px solid var(--main-color);
  display: block;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  background: white;
}
.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #f2f2f2;
  text-align: center;
  font-size: 1.2em;
  background: var(--main-color);
  cursor: pointer;
}
.login {
  transform: translateY(30px);
  position: absolute;
  margin-left: 1220px;
}
.login a {
  color: var(--main-color);
  font-size: 1.375rem;
  text-decoration: none;
}
.nav-cart {
  max-width: 1270px;
  transform: translateX(1150px);
  top: 30px;
  position: absolute;
}
.nav-cart span {
  color: #82b74b;
  font-size: 1.375rem;
  top: 0;
  right: 0;
}
.wrap-infos {
  position: absolute;
  z-index: 99;
}
.top-nav {
  position: absolute;
  padding: 10px 20px;
  background: var(--second-color);
  width: 200px;
  box-sizing: 0 5px 25px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  z-index: 99;
}
.profile img {
  z-index: 99;
}
.wrap-infos .top-nav::before {
  content: '';
  position: absolute;
  z-index: 99;
  top: -3px;
  right: 170px;
  width: 20px;
  height: 20px;
  background: var(--second-color);
  transform: rotate(45deg);
}
.top-nav h3 a {
  color: #fff;
  margin-left: 40px;
  z-index: 99;
  border-bottom: 1px solid gray;
}
.top-nav ul li a {
  font-size: 17px;
  color: #fff;
}
.top-nav ul li a:hover {
  font-size: 1.125rem;
  transition: 0.5s;
  color: darkslategrey;
}
.top-nav ul li {
  list-style: none;
  direction: flex;
  align-items: center;
  position: relative;
  padding: 8px 0;
  z-index: 99;
}
.top-nav .admin-dashboard {
  border-top: 1px solid darkslategray;
}
.top-nav .admin-dashboard h3 {
  color: #fff;
  text-align: center;
}
.top-nav.active {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
  z-index: 99;
  position: relative;
}  */

/*MENU */
/* .btn {
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}

.btn.click {
  left: 260px;
}

.btn span {
  color: white;
  font-size: 28px;
  line-height: 45px;
}

.btn.click span:before {
  content: '\f00d';
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #1b1b1b;
  transition: left 0.4s ease;
}

.sidebar.show {
  left: 0px;
}

.sidebar .text {
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}

nav ul {
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li {
  line-height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active a {
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}

nav ul li a:hover {
  background: #1e1e1e;
}

nav ul ul {
  position: static;
  display: none;
}

nav ul .feat-show.show {
  display: block;
}

nav ul .serv-show.show1 {
  display: block;
}

nav ul ul li {
  line-height: 42px;
  border-top: none;
}

nav ul ul li a {
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}

nav ul li.active ul li a {
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}

nav ul ul li a:hover {
  color: cyan !important;
  background: #1e1e1e !important;
}

nav ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}

nav ul li a span.rotate {
  transform: translateY(-50%) rotate(-180deg);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #202020;
  z-index: -1;
  text-align: center;
}

.content .header {
  font-size: 45px;
  font-weight: 600;
}

.content p {
  font-size: 30px;
  font-weight: 500;
} */

/* nav {
  background: #ffffff;
  position: relative;
  z-index: 1800;
  width: 100%;
  height: 10vh;
  padding: 4px;
  border: 2px solid #82b74b;
}
nav .wrapper {
  position: relative;
  max-width: 1170px;
  padding: 13px 0px;
  margin-left: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo a {
  position: absolute;
  text-align: left;
  top: 20px;
  color: #82b74b;
  text-decoration: none;
  font-size: 1.875rem;
  font-weight: 700;
  z-index: -1;
}
.wrapper .logo img {
  position: absolute;
  transform: translateX(130px);
  margin-top: -10px;
}
.wrapper .nav-links {
  display: inline-flex;
}
.nav-links li {
  list-style: none;
  transform: translateY(20px);
}
.nav-links li a {
  color: #151515;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 2rem;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  color: #f7a201;
}
.nav-links .drop-menu {
  background: var(--main-color);
  width: 180px;
  top: 65px;
  line-height: 45px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  top: 65px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3 ease;
}
.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box {
  position: absolute;
  top: 85px;
  background: var(--main-color);
  width: 80%;
  padding: 0 30px;
  left: 200px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content {
  background: var(--main-color);
  padding: 25px 28px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.content .row {
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header {
  color: #fff;
  font-size: 1.375rem;
  font-weight: 500;
}
.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid var(--second-color);
}
.content .row:nth-child(1),
.content .row:nth-child(2) {
  border-left: 0px;
}
.row .mega-links li {
  padding: 0 20px;
}
.row .mega-links li a {
  padding: 0 20px;
  color: #fff;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover {
  color: #f2f2f2;
}

.nav-links .mobile-item {
  display: none;
}
.wrapper .btn {
  cursor: pointer;
  display: none;
}
.wrapper .btn.cancel-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 600px) {
  .search {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 200px;
    height: 50px;
    background: var(--main-color);
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    visibility: hidden;
  }
  .row input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 3px solid var(--main-color);
    display: block;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    background: white;
  }
  .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #f2f2f2;
    text-align: center;
    font-size: 1.2em;
    background: var(--main-color);
    cursor: pointer;
  }
  .login a {
    color: var(--main-color);
    font-size: 1.375rem;
    text-decoration: none;
    transform: translateX(100px);
  }
  .profile img {
    width: 20px;
  }
  .nav-cart img {
    width: 20px;
  }
  .img-logo {
    margin: 0 auto;
    position: absolute;
    padding-left: 260px;
    padding-top: 10px;
  }

  .wrapper .logo a {
    padding-left: 100px;
    z-index: 999;
  }
  .login {
    transform: translateY(30px);
    position: absolute;
  }
  .login a {
    color: black;
    font-size: 15px;
    text-decoration: none;
  }

  nav {
    width: 100%;
  }
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    max-width: 100%;
    background: var(--main-color);
    display: block;
    top: 0;
    overflow-y: auto;
    left: -100%;
    line-height: 50px;
    padding: 50px 10px;
    transition: all 0.5s ease;
    z-index: 999;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0;
  }
  .nav-links::-webkit-scrollbar {
    width: 0;
  }

  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 1.375rem;
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    top: 65px;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .drop-menu li {
    margin: 0;
  }
  .nav-links .drop-menu li a {
    font-size: 1.125rem;
    border-radius: 5px;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    font-size: 1.375rem;
    color: #f2f2f2;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 2rem;
    transition: all 0.3s ease;
  }
  .mega-box {
    position: static;
    top: 65px;
    width: 100%;
    padding: 0 20px;
    opacity: 1;
    visibility: visible;
    max-height: 0px;
    overflow: hidden;
  }
  .mega-box .content {
    background: var(--main-color);
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid var(--second-color);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0;
  }
  .content .row .mega-links {
    border-color: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }

  .nav-links .mobile-item:hover {
    background: var(--second-color);
  }
  .content .row header {
    font-size: 19px;
  }
} */
/* @media screen and (max-width: 950px) {
    .row-topNav{
        visibility: hidden;
    }
    .nav-cart img{
        transform: translateX(-150px);
    }
    .nav-cart span{
        visibility: hidden;
    }
    .signin{
        color: var(--main-color);
        font-size:  1.5rem;
        text-decoration: none;
        margin-left: -1000px;   
    }
     .nav-cart {
         transform: translateX(400px);
     }
     .profile img{
         transform: translateX(-910px);
     }
} */

/* RESPONSIVE */
/* @media (max-width: 767px) {
  .row-topNav {
    visibility: hidden;
  }
  .nav-cart {
    transform: translateX(300px);
    top: 30px;
    position: absolute;
  }
  .login {
    transform: translateY(30px);
    position: absolute;
    margin-left: 450px;
  }
  .card {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .row-topNav {
    visibility: hidden;
  }
  .login {
    transform: translateY(30px);
    position: absolute;
    margin-left: 310px;
  }
  .nav-cart {
    transform: translateX(250px);
    top: 30px;
    position: absolute;
  }
  .card {
    width: 100%;
  }
} */
/* .wrapper input {
  display: none;
} */

.navbar {
  background-color: #80d90c;
  /* height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 999;
  padding: 0 20px 0 20px; */

  left: 0;
  right: 0;
  top: 0;
  bottom: 20px;
  z-index: 1080;
  display: flex;
  height: 120px;
  align-items: center;
  padding: 4px;
}
.navbar-toggle .logo {
  display: none;
}
.logo a {
  font-size: 30px;
}
.navbar .search {
  position: absolute;
  top: 40px;
  left: 40%;
  transform: translate(-50%, -50%);
  transform: translateX(-50px);
  transition: all 1s;
  width: 300px;
  height: 50px;
  background: #7fd02c;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

.row input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 3px solid #80d90c;
  display: block;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  background: white;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #f2f2f2;
  text-align: center;
  font-size: 1.2em;
  background: #80d90c;
  cursor: pointer;
}

.logo {
  text-align: center;
  display: block;
}
.btn.menu-btn {
  float: right;
  cursor: pointer;
  margin-right: 20px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #80d90c;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 999;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  color: #f7a201;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  border-bottom: 1px solid black;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  /* background-color: var(--second-color); */
  color: #f7a201;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #80d90c;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
.wrap-infos {
  position: absolute;
  z-index: 99;
}

.top-nav {
  position: relative;
  padding: 10px 20px;
  background: #f7a201;
  width: 200px;
  box-sizing: 0 5px 25px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  z-index: 999;
  right: 10px;
  opacity: 0;
}

.container .nav-cart {
  right: 300px;
}
.container .login {
  right: 250px;
}
.profile {
  background: transparent;
  cursor: pointer;
}
.profile img {
  z-index: 99;
}

.wrap-infos .top-nav::before {
  content: '';
  position: absolute;
  z-index: 99;
  top: -2px;

  width: 20px;
  height: 20px;
  background: #f7a201;
  transform: rotate(45deg);
}

.top-nav h3 a {
  color: #fff;
  margin-left: 40px;
  z-index: 99;
  border-bottom: 1px solid gray;
}

.top-nav ul li a {
  font-size: 17px;
  color: #fff;
}

.top-nav ul li a:hover {
  transition: 0.5s;
  color: darkslategrey;
}

.top-nav ul li {
  list-style: none;
  direction: flex;
  align-items: center;
  position: relative;
  padding: 8px 0;
  z-index: 99;
}

.top-nav .admin-dashboard {
  border-top: 1px solid darkslategray;
}

.top-nav .admin-dashboard h3 {
  color: #fff;
  text-align: center;
}

.top-nav.active {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
  z-index: 99;
  position: relative;
}

.login {
  position: absolute;
}

.login a {
  color: #f5f5f5;
  font-size: 1.375rem;
  text-decoration: none;
}

.nav-cart {
  position: absolute;
  right: 50px;
}
.nav-cart img {
  top: 0px;
  position: absolute;
}

.nav-cart span {
  position: absolute;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  top: 0px;
  right: 0;
}
.nav-cart span:hover {
  color: red;
}

.navbar .left {
  display: flex;
  align-items: center;
}

.register-login {
  transform: translateX(-80px);
}

/*RESPONSIVE */
@media (max-width: 950px) {
  .top-nav {
    position: absolute;
    padding: 10px 20px;
    background: #f7a201;
    width: 200px;
    box-sizing: 0 5px 25px;
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    z-index: 999;
    right: -50px;
    opacity: 0;
  }

  .container .nav-cart {
    right: 50px;
  }
  .logo {
    text-align: center;
    display: none;
    font-size: 20px;
    margin-left: 20px;
  }
  .navbar-toggle .logo {
    display: block;
  }
  .navbar-toggle .logo a {
    font-size: 25px;
    margin-left: 10px;
  }
  .container .login {
    right: 20px;
  }
  .navbar .search {
    position: absolute;
    top: 40px;
    left: 40%;
    transform: translate(-50%, -50%);
    transform: translateX(-50px);
    transition: all 1s;
    width: 200px;
    height: 50px;
    background: #80d90c;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
  }
}

@media (max-width: 574px) {
  .container .nav-cart {
    right: 120px;
  }

  .container .login {
    display: none;
  }
  .logo {
    text-align: center;
    display: none;
  }
  .navbar-toggle .logo {
    display: block;
  }
  .navbar-toggle .logo a {
    font-size: 25px;
    margin-left: 10px;
  }
  .navbar .search {
    position: absolute;
    top: 40px;
    left: 30%;
    transform: translate(-50%, -50%);
    transform: translateX(-50px);
    transition: all 1s;
    width: 200px;
    height: 50px;
    background: #7fd02c;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
  }
}
