* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
:root {
  --main-color: #80d90c;
  --second-color: #f7a201;
}

.navbar {
  background-color: #80d90c;
  left: 0;
  right: 0;
  top: 0;
  bottom: 20px;
  z-index: 1080;
  display: flex;
  height: 120px;
  align-items: center;
  padding: 4px;
}
.navbar-toggle .logo {
  display: none;
}
.logo a {
  font-size: 30px;
}
.navbar .search {
  position: absolute;
  top: 40px;
  left: 40%;
  transform: translate(-50%, -50%);
  transform: translateX(-50px);
  transition: all 1s;
  width: 300px;
  height: 50px;
  background: #7fd02c;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid #ffffff;
  padding: 5px;
}

.row input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 3px solid #80d90c;
  display: block;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  background: #ffffff;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #f2f2f2;
  text-align: center;
  font-size: 1.2em;
  background: #80d90c;
  cursor: pointer;
}

.logo {
  text-align: center;
  display: block;
}
.btn.menu-btn {
  float: right;
  cursor: pointer;
  margin-right: 20px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #80d90c;
  width: 250px;
  overflow: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 999;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  color: #f7a201;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  border-bottom: 1px solid black;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  color: #f7a201;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #80d90c;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.login-icon {
  display: none;
}
span {
  margin-left: 16px;
}
.wrap-infos {
  /* position: relative; */
  z-index: 99;
}

.top-nav {
  position: relative;
  padding: 10px 20px;
  background: #f7a201;
  width: 200px;
  box-sizing: 0 5px 25px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  z-index: 999;
  right: 10px;
  opacity: 0;
}

.container .nav-cart {
  right: 300px;
}
.container .login {
  right: 50px;
}
.profile {
  background: transparent;
  cursor: pointer;
}
.profile img {
  z-index: 99;
}

.wrap-infos .top-nav::before {
  content: '';
  position: absolute;
  z-index: 99;
  top: -2px;
  width: 20px;
  height: 20px;
  background: #f7a201;
  transform: rotate(45deg);
}

.top-nav h3 a {
  color: #fff;
  margin-left: 35px;
  z-index: 99;
  border-bottom: 1px solid gray;
}

.top-nav ul li a {
  font-size: 1.1rem;
  color: #fff;
}

.top-nav ul li a:hover {
  transition: 0.5s;
  color: darkslategrey;
}

.top-nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 0;
  z-index: 99;
}

.top-nav .admin-dashboard {
  border-top: 1px solid darkslategray;
}

.top-nav .admin-dashboard h3 {
  color: #fff;
  text-align: center;
}

.top-nav.active {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
  z-index: 99;
  position: relative;
}

.login {
  position: absolute;
}

.login a {
  color: #f5f5f5;
  font-size: 1.375rem;
  text-decoration: none;
}

.nav-cart {
  position: absolute;
  right: 250px;
}
.nav-cart img {
  top: 0px;
  position: absolute;
}

.nav-cart span {
  position: absolute;
  color: #ffffff;
  border-radius: 20px;
  font-size: 14px;
  top: 0px;
  right: 0;
}
.nav-cart span:hover {
  color: red;
}

.navbar .left {
  display: flex;
  align-items: center;
}

.register-login {
  transform: translateX(-300px);
}

/*RESPONSIVE */
@media (max-width: 1200px) {
  .top-nav {
    position: relative;
    padding: 5px 10px;
  }
  .register-login {
    transform: translateX(-80px);
  }
  .container .nav-cart {
    right: 50px;
  }
  .logo {
    text-align: center;
    display: none;
    font-size: 20px;
    margin-left: 20px;
  }
  .navbar-toggle .logo {
    display: block;
  }
  .navbar-toggle .logo a {
    font-size: 25px;
    margin-left: 10px;
  }
  .container .login {
    right: 10px;
  }
  .navbar .search {
    position: absolute;
    top: 40px;
    left: 40%;
    transform: translate(-50%, -50%);
    transform: translateX(-50px);
    transition: all 1s;
    width: 200px;
    height: 50px;
    background: #80d90c;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #ffffff;
    padding: 5px;
  }
}

@media (max-width: 574px) {
  .top-nav {
    width: 120px;
  }
  .container .nav-cart {
    right: 50px;
  }
  .register-login {
    display: none;
  }
  .container .login {
    display: block;
    right: -30px;
  }
  .login-icon {
    display: block;
    position: absolute;
    right: 80px;
  }

  .logo {
    text-align: center;
    display: none;
  }
  .navbar-toggle .logo {
    display: block;
  }
  .navbar-toggle .logo a {
    font-size: 25px;
    margin-left: 10px;
  }
  .navbar .search {
    position: absolute;
    top: 40px;
    left: 30%;
    transform: translate(-50%, -50%);
    transform: translateX(-50px);
    transition: all 1s;
    width: 200px;
    height: 50px;
    background: #7fd02c;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #ffffff;
    padding: 5px;
  }
}
